In [43]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.34
    Uninstalling SQLAlchemy-2.0.34:
      Successfully uninstalled SQLAlchemy-2.0.34
Successfully installed sqlalchemy-1.3.9

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\jusli\anaconda3\Lib\site-packages\~qlalchemy'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

Collecting ibm_db_sa
  Downloading ibm_db_sa-0.4.1-py3-none-any.whl.metadata (5.3 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\jusli\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Collecting ibm-db>=2.0.0 (from ibm_db_sa)
  Downloading ibm_db-3.2.3-cp312-cp312-win_amd64.whl.metadata (1.4 kB)
Downloading ibm_db_sa-0.4.1-py3-none-any.whl (31 kB)
Downloading ibm_db-3.2.3-cp312-cp312-win_amd64.whl (27.8 MB)
   ---------------------------------------- 0.0/27.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/27.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/27.8 MB 393.8 kB/s eta 0:01:11
   ---------------------------------------- 0.1/27.8 MB 655.4 kB/s eta 0:00:43
   ---------------------------------------- 0.2/27.8 MB 1.1 MB/s eta 0:00:26
   ---------------------------------------- 0.3/27.8 MB 1.1 MB/s eta 0:00:25
    --------------------------------------- 0.4/27.8 MB 1.3 MB/s eta 0:00:21
    --------------------------------------- 0.4/27.8 MB 1.3 MB/s eta 0:00:21
    --------------------------------------- 0.6/27.8 MB 1.8 MB/s eta 0:00:16
   - -------------------------------------- 0.8/27.8 MB 2.1 MB/s eta 0:00:13
   - -------------------------------------- 1.3/27.8 MB 2.9 MB/s eta 0:00:10
   -- ------------------------------------- 2.0/27.8 MB 4.1 MB/s eta 0:00:07
   ---- ----------------------------------- 3.1/27.8 MB 5.7 MB/s eta 0:00:05
   ----- ---------------------------------- 3.5/27.8 MB 6.2 MB/s eta 0:00:04
   ------ --------------------------------- 4.2/27.8 MB 7.0 MB/s eta 0:00:04
   ------- -------------------------------- 5.2/27.8 MB 8.0 MB/s eta 0:00:03
   ------- -------------------------------- 5.2/27.8 MB 8.0 MB/s eta 0:00:03
   --------- ------------------------------ 6.3/27.8 MB 8.7 MB/s eta 0:00:03
   --------- ------------------------------ 6.6/27.8 MB 8.4 MB/s eta 0:00:03
   ---------- ----------------------------- 7.3/27.8 MB 9.0 MB/s eta 0:00:03
   ---------- ----------------------------- 7.3/27.8 MB 9.0 MB/s eta 0:00:03
   ----------- ---------------------------- 8.3/27.8 MB 8.9 MB/s eta 0:00:03
   ------------ --------------------------- 8.4/27.8 MB 8.9 MB/s eta 0:00:03
   ------------- -------------------------- 9.4/27.8 MB 9.4 MB/s eta 0:00:02
   ------------- -------------------------- 9.4/27.8 MB 9.3 MB/s eta 0:00:02
   -------------- ------------------------- 10.4/27.8 MB 11.5 MB/s eta 0:00:02
   ---------------- ----------------------- 11.1/27.8 MB 13.9 MB/s eta 0:00:02
   ---------------- ----------------------- 11.5/27.8 MB 14.6 MB/s eta 0:00:02
   ----------------- ---------------------- 12.4/27.8 MB 14.2 MB/s eta 0:00:02
   ------------------ --------------------- 12.6/27.8 MB 13.9 MB/s eta 0:00:02
   ------------------- -------------------- 13.6/27.8 MB 13.9 MB/s eta 0:00:02
   ------------------- -------------------- 13.6/27.8 MB 13.6 MB/s eta 0:00:02
   --------------------- ------------------ 14.7/27.8 MB 13.9 MB/s eta 0:00:01
   --------------------- ------------------ 14.7/27.8 MB 13.9 MB/s eta 0:00:01
   ---------------------- ----------------- 15.7/27.8 MB 13.4 MB/s eta 0:00:01
   ------------------------ --------------- 16.8/27.8 MB 13.6 MB/s eta 0:00:01
   ------------------------ --------------- 16.8/27.8 MB 12.8 MB/s eta 0:00:01
   ------------------------- -------------- 17.8/27.8 MB 14.6 MB/s eta 0:00:01
   -------------------------- ------------- 18.5/27.8 MB 13.6 MB/s eta 0:00:01
   --------------------------- ------------ 18.9/27.8 MB 14.6 MB/s eta 0:00:01
   ---------------------------- ----------- 19.9/27.8 MB 15.2 MB/s eta 0:00:01
   ---------------------------- ----------- 19.9/27.8 MB 15.2 MB/s eta 0:00:01
   ---------------------------- ----------- 19.9/27.8 MB 15.2 MB/s eta 0:00:01
   ---------------------------- ----------- 19.9/27.8 MB 15.2 MB/s eta 0:00:01
   ---------------------------- ----------- 19.9/27.8 MB 15.2 MB/s eta 0:00:01
   ---------------------------- ----------- 19.9/27.8 MB 15.2 MB/s eta 0:00:01
   ------------------------------ --------- 20.9/27.8 MB 11.7 MB/s eta 0:00:01
   ------------------------------ --------- 21.2/27.8 MB 11.1 MB/s eta 0:00:01
   ------------------------------- -------- 22.0/27.8 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 23.0/27.8 MB 11.7 MB/s eta 0:00:01
   --------------------------------- ------ 23.1/27.8 MB 11.5 MB/s eta 0:00:01
   ---------------------------------- ----- 24.1/27.8 MB 11.7 MB/s eta 0:00:01
   ---------------------------------- ----- 24.1/27.8 MB 11.7 MB/s eta 0:00:01
   ------------------------------------ --- 25.2/27.8 MB 11.9 MB/s eta 0:00:01
   ------------------------------------ --- 25.2/27.8 MB 11.1 MB/s eta 0:00:01
   ------------------------------------- -- 26.2/27.8 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 26.6/27.8 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------  27.8/27.8 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  27.8/27.8 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  27.8/27.8 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  27.8/27.8 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 27.8/27.8 MB 9.6 MB/s eta 0:00:00
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.2.3 ibm_db_sa-0.4.1
Requirement already satisfied: ipython-sql in c:\users\jusli\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\jusli\anaconda3\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\jusli\anaconda3\lib\site-packages (from ipython-sql) (8.25.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.34-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\users\jusli\anaconda3\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\jusli\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\jusli\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jusli\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jusli\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\jusli\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jusli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\jusli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\jusli\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jusli\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\jusli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\jusli\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\jusli\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\jusli\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\jusli\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\jusli\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\jusli\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\jusli\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached SQLAlchemy-2.0.34-cp312-cp312-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.34

In [46]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [48]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [54]:
%sql sqlite:///my_data1.db

In [56]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [108]:
%sql select DISTINCT(LAUNCH_SITE) from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [78]:
%sql SELECT LAUNCH_SITE from SPACEXTBL where (LAUNCH_SITE) LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

In [80]:
%sql select sum(PAYLOAD_MASS__KG_) as payloadmass from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[(619967,)]

In [82]:
%sql select avg(PAYLOAD_MASS__KG_) as payloadmass from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[(6138.287128712871,)]

In [84]:
%sql select min(DATE) from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('2010-06-04',)]

In [102]:
%sql select BOOSTER_VERSION from SPACEXTBL where LANDING_OUTCOME='Success (drone ship)' and PAYLOAD_MASS__KG_ BETWEEN 4000 and 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [88]:
%sql select count(MISSION_OUTCOME) as missionoutcomes from SPACEXTBL GROUP BY MISSION_OUTCOME;

 * sqlite:///my_data1.db
Done.

[(1,), (98,), (1,), (1,)]

In [90]:
%sql select BOOSTER_VERSION as boosterversion from SPACEXTBL where PAYLOAD_MASS__KG_=(select max(PAYLOAD_MASS__KG_) from SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

In [100]:
%sql SELECT MONTH(DATE),MISSION_OUTCOME,BOOSTER_VERSION,LAUNCH_SITE FROM SPACEXTBL WHERE EXTRACT(YEAR FROM DATE)='2015';

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT MONTH(DATE),MISSION_OUTCOME,BOOSTER_VERSION,LAUNCH_SITE, FROM SPACEXTBL WHERE EXTRACT(YEAR FROM DATE)='2015';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [98]:
%sql SELECT LANDING_OUTCOME FROM SPACEXTBL WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' ORDER BY DATE DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Failure (drone ship)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('Success (drone ship)',),
 ('Failure (drone ship)',),
 ('Failure (drone ship)',),
 ('Success (ground pad)',),
 ('Precluded (drone ship)',),
 ('No attempt',),
 ('Failure (drone ship)',),
 ('No attempt',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Uncontrolled (ocean)',),
 ('No attempt',),
 ('No attempt',),
 ('Controlled (ocean)',),
 ('Controlled (ocean)',),
 ('No attempt',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('No attempt',),
 ('No attempt',),
 ('No attempt',),
 ('Failure (parachute)',),
 ('Failure (parachute)',)]